# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Uploaded Media
media/
staticfiles/
staticfiles_build/

# VS Code
.vscode/

# Ignore rendered compiled files
*.pdf
